
<p> 앞 </p>
<div class="container">
    <div class="row">
        <form action="/home/save_seat_number" method="GET" style="display: block">
            <div>
                <% for i in (1..4) do %>
                    <div class="col-md-3" style="display:inline-block">
                        <div class="box" seat_number=<%=i%> style="width:100px; height:100px; border:1px solid #000; margin-top:20px;">
                        </div>
                        <input type="submit" name="seat_number" value=<%=i%>>
                    </div>
                <%end%>
            </div>
            <div>
                <% for i in (5..8) do %>
                    <div class="col-md-3" style="display:inline-block">
                        <div class="box" seat_number=<%=i%> style="width:100px; height:100px; border:1px solid #000; margin-top:20px;">
                        </div>
                        <input type="submit" name="seat_number" value=<%=i%>>
                    </div>
                <%end%>
            </div>
        </form>
    </div>
</div>