<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <div class="question_list">
                <% @questions.each do |q| %>
                    <div>
                        <span><p3>작성자:<%= q.user.name %></p3></span>
                        <div>
                            <p1><%= q.text %></p1>
                        </div>
                    </div>
                    <hr>
                <% end %>
            </div>
            <form action="/student/create_question" method="GET">
              <div class="field question_field" >
                <textarea name="content" class="question_area"></textarea>
              </div>
              <button type = 'submit' class="new_question">
                <i> </i> Add Question
              </button>
            </form>
            
        </div>
        <div class="col-md-4">
            <form action = "/student/create_emergency" method = 'get'>
              <button type="submit" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
              </button>
            </form>
            <% if current_user.emergency_help %>
                <p>
                    도움을 기다리는 중...
                </p>
            <% else %>
                <p>
                    도움이 필요하신가요?
                </p>
            <% end %>
        <div class="col-md-2">
        </div>
    </div>
    
</div>

<script>
$(document).ready(function() {
  $('.new_question').click(function(e) {
    const question_area = $('.question_area');
    e.preventDefault();
    $.ajax({
      method: "get",
      url: "/student/create_question",
      data: {
        content: question_area.val()
      },
      dataType: "json",
      success: function(data) {
        var str;
        console.log(data);
        str = ["<div><span><p3>작성자:",data.user_name,"</p3></span><div><p1>",data.text,"</p1></div></div><hr>"].join(" ");
        $('.question_list').prepend(str);
		question_area.val("");
        return;
      }
    });
  });
});
</script>

<!--test-->
