<h1>Home#student_index</h1>
<p>Find me in app/views/home/student_index.html.erb</p>

<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <form action="/home/student_index" method="GET" style="display: block">
                <div class="col-md-3">
                    <div class="box" seat_number=1 style="width:100px; height:100px; border:1px solid #000; margin-top:20px; display: inline-block">
                    </div>
                    <input type="submit" name="seat_number" value="1">
                </div>
                <div class="col-md-3">
                    <div class="box" seat_number=2 style="width:100px; height:100px; border:1px solid #000; margin-top:20px; display: inline-block">
                    </div>
                    <input type="submit" name="seat_number" value="2">
                </div>
                <div class="box" seat_number=3 style="width:100px; height:100px; border:1px solid #000; margin-top:20px; display: inline-block">
                </div>
                <input type="submit" name="seat_number" value="3">
                <div class="box" seat_number=4 style="width:100px; height:100px; border:1px solid #000; margin-top:20px; display: inline-block">
                </div>
                <input type="submit" name="seat_number" value="4">
            </form>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <form action="/home/student_index" method="get" style="display: inline-block">
                <div class="box" seat_number=5 style="width:100px; height:100px; border:1px solid #000; margin-top:20px; ">
                </div>
                <input type="submit" name="seat_number" value="5">
            </form>
            <form action="/home/student_index" method="get" style="display: inline-block">
                <div class="box" seat_number=6 style="width:100px; height:100px; border:1px solid #000; margin-top:20px;">
                </div>
                <input type="submit" name="seat_number" value="6">
            </form>
            <form action="/home/student_index" method="get" style="display: inline-block">
                <div class="box" seat_number=7 style="width:100px; height:100px; border:1px solid #000; margin-top:20px;">
                </div>
                <input type="submit" name="seat_number" value="7">
            </form>
            <form action="/home/student_index" method="get" style="display: inline-block">
                <div class="box" seat_number=8 style="width:100px; height:100px; border:1px solid #000; margin-top:20px;">
                </div>
                <input type="submit" name="seat_number" value="8">
            </form>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>